{% load static %}

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div id="info-footer" class="col l6 s12">
                <h5 class="white-text">Grupo TecnIO</h5>
                <p class="grey-text text-lighten-4">Líder : German Sanchez Torres <br> <a
                        href="mailto:gsanchez@unimagdalena.edu.co">gsanchez@unimagdalena.edu.co</a>
                </p>
                <p class="grey-text text-lighten-4">&Aacute;rea : Ingeniería y Tecnología -- Ingenierías Eléctrica,
                    Electrónica e Informática
                </p>
                <p class="grey-text text-lighten-4">Santa Marta - Magadalena, Colombia
                </p>
            </div>
            <div id="links" class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/about/">Sobre Nosotros</a></li>
                    <li><a class="grey-text text-lighten-3" href="/members/">Integrantes</a></li>
                    <li><a class="grey-text text-lighten-3" href="/articles/">Art&iacute;culos</a></li>
                    <li><a class="grey-text text-lighten-3" href="/conferences/">Congresos</a></li>
                    <li><a class="grey-text text-lighten-3" href="/projects/">Proyectos</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="/index/"><i class="material-icons">home</i></a>
        </div>
    </div>
</footer>