{% load static %}

<div class="banner">
    <div class="slider">
        <ul class="slides">
            <li>
                <img class="responsive-img" class="slide" src="{% static 'img/banner.png' %} ">
                <div class="caption left-align">
                    <h3> &nbsp;Grupo De Investigación y Desarrollo</h3>
                    <h5 class="light grey-text text-lighten-3">&nbsp; En Tecnologías De La Información y Organizaciones</h5>
                </div>
            </li>
        </ul>
    </div>
    <h1 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TECNIO</h1>
</div>

