{% load static %}

<div>
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="user-view">
                <div class="background">
                </div>
                <img class="circle" src="{% static 'img/logo.png' %}">
                <span class="white-text name">Universidad del Magdalena</span>
                <a href="http://www.unimagdalena.edu.co"><span
                        class="white-text email">www.unimagdalena.edu.co</span></a>
            </div>
        </li>
        <li><a class="waves-effect" href="/index/"><i class="material-icons">home</i>Inicio</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="/about/"><i class="material-icons">info</i>Sobre Nosotros</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="/members/"><i class="material-icons">person</i>Integrantes</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Publicaciones</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="/articles/"><i class="material-icons">book</i>Art&iacute;culos</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="/conferences/"><i class="material-icons">book</i>Congresos</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="/projects/"><i class="material-icons">book</i>Proyectos</a></li>
        <li>
            <div class="divider"></div>
        </li>
    </ul>

</div>