{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h2 class="subtitle">Congresos</h2>
    <div class="row">
        <div class="col s12">
            <div class="row">
                {% for conference in conferences %}
                <div class="col s4 m4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img class="responsive-img item-image" src="/media/{{conference.item.image}}">
                            <span class="card-title">{{ conference.item.date|date:"M, Y"}}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ conference.item.name }}.</p>
                        </div>
                        <div class="card-action">
                            <a href="/conferences-{{article.pk}}">Ver m&aacute;s </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}