{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s10">
            <div class="publication">
                <div id="title" class="row section scrollspy">
                    <h4 class="subtitle">{{project.item.name}}</h4>
                </div>
                <div id="information" class="row section scrollspy">
                    <div class="col s8">
                        <strong>Participantes:</strong>
                        <p class="italic margin-5px">
                            {{authors}}
                        </p>
                        <strong>Datos de proyecto:</strong>
                        <p class="italic margin-5px">{{project.item.information}}</p>
                        <strong>Fecha inicio:</strong>
                        <p class="italic margin-5px">{{project.item.date|date:'d M Y'}}</p>
                        <strong>Fecha fin:</strong>
                        <p class="italic margin-5px">{{project.end_date|date:'d M Y'}}</p>
                    </div>
                    <div class="col s4">
                        <img class="responsive-img publication-img" src="/media/{{project.item.image}}"/>
                    </div>
                </div>
                <div id="abstract" class="row section scrollspy">
                    <h5 class="subtitle">Resumen</h5>
                    <p class="justify">
                        {{project.item.abstract}}
                    </p>
                </div>
                <div id="download" class="row section scrollspy">
                    {% if project.item.file %}
                    <a class="italic" href="/media/{{project.item.file}}">Descargar</a>
                    {% else %}
                    <a class="italic" href="#!">Descargar</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col hide-on-small-only s2">
            <ul class="section table-of-contents">
                <li><a href="#title">Título</a></li>
                <li><a href="#information">Información</a></li>
                <li><a href="#abstract">Resumen</a></li>
                <li><a href="#download">Descargar</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}